.App {
  text-align: center;
  background-color: gray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: greenyellow;
  height: 150px;
  padding: 20px;
  color: rgb(49, 44, 44)23, 124, 124;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bodyClass {
  background-color: grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
